{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" placeholder="Stock Symbol" name="symbol" type="text">
        </div>
        <p></p> <!--Paragraph for spacing-->
        <div>
            <input autocomplete="off" class="form-control mx-auto w-auto" placeholder="Enter shares number" name="shares" type="text">
        </div>
        <p></p> <!--Paragraph for spacing-->
        <div>
            <button class="btn btn-primary" name="submit" type="submit">Make Purchase</button>
        </div>
    </form>
{% endblock %}