{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Date Purchased</th>
        <th scope="col">Price</th>
        <th scope="col">Shares</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
        {% for items in item %}
            <tr>
                <th scope="row">{{items["comp_id"]}}</th>
                <td>{{items["date"]}}</td>
                <td>{{items["price"] | usd}}</td>
                <td>{{items["shares_number"]}}</td>
                <td>{{items["total_value"] | usd}}</td>
            </tr>
        {% endfor %}
        <th scope="row">Balance Remaining: {{cash}}</th>
    </tbody>

  </table>

{% endblock %}